.homepage {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    .toggleSwitch {
        position: absolute;
        left: 37.5%;
        top: 2%;

        input {
            appearance: none;
            position: relative;
            width: 100px;
            height: 30px;
            border-radius: 25px;
            background-color: rgba(255, 255, 255, 0.125);
            transition: background .3s;
            outline: none;
            cursor: pointer;
        }


        input::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 15%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            height: 1.25rem;
            width: 1.25rem;
            background-color: white;
            transition: left .3s;
        }

        input:checked {
            background-color: rgba(60, 110, 208, 1);
        }

        input:checked::before {
            left: 85%;
        }

        input::after {
            position: absolute;
            content: "Home";
            color: white;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%);
        }

        input:checked::after {
            position: absolute;
            content: "Inventory";
            color: white;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
        }
    }

    .inventoryMode {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;

        .modalButton {
            position: absolute;
            left: 63.9%;
            top: 9.71%;

            padding: 8px;
            border: none;
            background-color: rgba(60, 110, 208, 0.8);
            color: white;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 500;
            &:hover {
                background-color: rgba(60, 110, 208, 1);
            }
        }

        .modalContainer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 99;

            .modal {
                position: absolute;
                top: 25%;
                left: 50%;
                transform: translate(-50%, -25%);
                background-color: rgba(30, 44, 70, 0.925);
                border-radius: 12px;
                width: 50%;
                height: 85%;
                display: flex;
                flex-direction: column;

                .closeIcon {
                    position: absolute;
                    left: 90%;
                    top: 2%;
                    cursor: pointer;
                }

                .modalWishListSwitch {
                    position: absolute;
                    left: 75%;
                    top: 2%;

                    input {
                        appearance: none;
                        position: relative;
                        width: 100px;
                        height: 30px;
                        margin-right: 10px;
                        border-radius: 25px;
                        background-color: rgba(255, 255, 255, 0.125);
                        transition: background .3s;
                        outline: none;
                        cursor: pointer;
                    }

                    input::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 15%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        height: 1.25rem;
                        width: 1.25rem;
                        background-color: white;
                        transition: left .3s;
                    }

                    input:checked {
                        background-color: rgba(60, 110, 208, 1);
                    }

                    input:checked::before {
                        left: 85%;
                    }

                    input::after {
                        position: absolute;
                        content: "Inventory";
                        color: white;
                        top: 50%;
                        left: 60%;
                        transform: translate(-50%, -50%);
                    }
            
                    input:checked::after {
                        position: absolute;
                        content: "Wishlist";
                        color: white;
                        top: 50%;
                        left: 40%;
                        transform: translate(-50%, -50%);
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    flex: 4;

                    input {
                        padding: 20px;
                        border: none;
                        outline: none;
                        background-color: rgba(17, 25, 40, 0.6);
                        color: white;
                        border-radius: 5px;

                        &:focus {
                            border: 1px solid rgba(60, 110, 208, 1);
                        }
                    }

                    label {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        text-decoration: underline;
                        gap: 20px;

                        img {
                            margin-top: 20px;
                            width: 100px;
                            height: 100px;
                            border-radius: 10px;
                            object-fit: cover;
                            opacity: 0.6;
                        }
                    }

                    .manualCardInfo {
                        display: flex;
                        width: 90%;
                        justify-content: space-between;
                        
                        .div1 {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                        }
                        
                        .div2 {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                        }
                        .div3 {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                        }
                    }
                }

                .buttons {
                    flex: 1;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    
                    button {
                        margin-top: 20px;
                        text-align: center;
                        height: 35%;
                        padding: 8px;
                        border: none;
                        background-color: rgba(60, 110, 208, 0.8);
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                        font-weight: 500;
                        &:hover {
                            background-color: rgba(60, 110, 208, 1);
                        }
                    }
                }
            }
        }
    }

    .cardDetails {
        flex: 3;
        display: flex;

        .cardImage {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .pictureContainer {
                height: 80%;
                width: 80%;
                background-color: rgba(255, 255, 255, 0.125);
                border-radius: 5%;
                align-items: center;
                display: flex;
                justify-content: center;

                img {
                    width: 80%;
                }
            }
        }

        .cardDetailsExpanded {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .description {
                height: 80%;
                width: 80%;
                display: flex;
                flex-direction: column;
                margin-top: 100px;
                text-align: left;

                .header {
                    flex: 1;
                    margin-top: 68px;
                }

                .cardDescription {
                    flex: 6;

                    h3 {
                        margin-bottom: 10px;
                    }

                    .cardAttributes {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .mainSeparator {
        width: 2px;
        margin: 10px auto;
        height: 90%;
        background-color: rgba(255, 255, 255, 0.125);
    }

    .details {
        flex: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow: hidden;

        .utilities {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex: 8;

            .cardSearch {
                flex: 3;
                padding: 10px;
                height: 100%;
                overflow: hidden;

                input {
                    padding: 8px;
                    margin-right: 18px;
                    border: none;
                    outline: none;
                    background-color: rgba(17, 25, 40, 1);
                    color: white;
                    border-radius: 5px;
                    width: 98%;

                    &:focus {
                        border: 1px solid rgba(60, 110, 208, 1);
                    }
                }

                .searchResults {
                    margin: 10px auto;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    width: 100%;
                    max-height: 100%;
                    overflow-y: scroll;

                    .result {
                        display: flex;
                        height: 15%;
                        width: 100%;
                        align-items: center;
                        justify-content: start;
                        border: 1px solid rgba(255, 255, 255, 0.125);
                        border-radius: 2px;
                        padding: 1.5px;
                        cursor: pointer;

                        img {
                            width: 40px;
                            height: 50px;
                            object-fit: contain;
                            margin: none;
                        }

                        .cardInfo {
                            display: flex;
                            flex-direction: column;
                            padding: 5px;
                            gap: 2px;

                            span {
                                font-size: 16px;
                            }

                            p {
                                font-size: 10px;
                                justify-content: start;
                                padding: 0;
                                text-align: left;
                                font-weight: lighter;
                                color: rgba(255, 255, 255, 0.548);
                            }
                        }
                    }

                }

            }
            .separator {
                width: 95%;
                margin: 10px auto;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.125);
            }

            .infoSwitch {
                display: flex;
                align-items: center;

                h3 {
                    margin: 5px auto;
                }

                .wishListSwitch {
                
                    input {
                        appearance: none;
                        position: relative;
                        width: 100px;
                        height: 30px;
                        margin-right: 10px;
                        border-radius: 25px;
                        background-color: rgba(255, 255, 255, 0.125);
                        transition: background .3s;
                        outline: none;
                        cursor: pointer;
                    }
                
                
                    input::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 15%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        height: 1.25rem;
                        width: 1.25rem;
                        background-color: white;
                        transition: left .3s;
                    }
                
                    input:checked {
                        background-color: rgba(60, 110, 208, 1);
                    }
            
                    input:checked::before {
                        left: 85%;
                    }
            
                    input::after {
                        position: absolute;
                        content: "Inventory";
                        color: white;
                        top: 50%;
                        left: 60%;
                        transform: translate(-50%, -50%);
                    }
            
                    input:checked::after {
                        position: absolute;
                        content: "Wishlist";
                        color: white;
                        top: 50%;
                        left: 40%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .inventory {
                flex: 2;
                position: relative;
                overflow-y: scroll;


                .sets {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    overflow-y: scroll;

                    .resultSet {
                        display: flex;
                        margin-left: 10px;
                        padding: 5px;
                        width: 97%;
                        align-items: center;
                        border: 1px solid rgba(255, 255, 255, 0.125);
                        border-radius: 2px;
                        cursor: pointer;
                        justify-content: space-between;
                        text-align: left;

                        .setInfo {
                            font-size: 12px;
                            padding-left: 5px;
                            display: flex;
                            flex-direction: column;
                            overflow-x: hidden;
                            max-width: 100%;

                            p {
                                width: 200px;
                                overflow-x: scroll;
                                white-space: nowrap;

                                scrollbar-width: none;
                            }
                            .set {
                                width: 200px;
                                text-wrap: wrap;
                                color: rgba(255, 255, 255, 0.548);
                            }
                        }

                        form {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            padding-right: none;
                            width: 55%;
                            gap: 8px;
                            z-index: 1;

                            input {
                                padding: 9px;
                                border: none;
                                outline: none;
                                background-color: rgba(17, 25, 40, 1);
                                color: white;
                                border-radius: 5px;
                                width: 30%;

                                &:focus {
                                    border: 1px solid rgba(60, 110, 208, 1);
                                }
                            }

                            button {
                                width: 20%;
                                padding: 8px;
                                border: none;
                                background-color: rgba(60, 110, 208, 0.8);
                                color: white;
                                border-radius: 5px;
                                cursor: pointer;
                                font-weight: 500;
                                text-align: center;

                                &:hover {
                                    background-color: rgba(60, 110, 208, 1);
                                }

                                &.removeButton {
                                    background-color: rgba(255, 88, 70, 0.8);

                                    &:hover {
                                        background-color: rgba(255, 88, 70, 1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        .userDetails {
            position: absolute;
            flex: 1;
            height: 100%;
            width: 25%;
            top: 92%;
            z-index: 3;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .homepage {
        .inventoryMode {
            .modalButton {
                left: 62.2%;
            }
        }

        .details {
            .utilities {
                .infoSwitch {
                    h3 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .homepage {
        .inventoryMode {
            .modalButton {
                left: 59.3%;
            }
        }

        .details {
            .utilities {
                .cardSearch {
                    .searchResults {
                        .result {
                            .cardInfo {
                                span {
                                    text-align: left;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                .infoSwitch {
                    h3 {
                        font-size: 12px;
                    }
                    .wishListSwitch {
                        input {
                            width: 4rem;
                        }

                        input::before {
                            left: 25%;
                        }

                        input:checked::before {
                            left: 75%;
                        }

                        input::after {
                            content: "I";
                        }

                        input:checked::after {
                            content: "W";
                        }
                    }
                }

                .inventory {
                    .sets {
                        .resultSet {
                            width: 95%;
                            display: flex;

                            .setInfo {
                                max-width: 5rem;
                                font-size: 10px;
                                display: flex;
                                flex-direction: column;
                                padding: 0;

                                p {
                                    white-space: nowrap;
                                    overflow-x: auto;
                                    overflow-y: hidden;
                                    max-width: 100%;
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }

            .userDetails {
                top: 91.2%;
            }
        }

        .cardDetails {
            .cardImage {
                .pictureContainer {
                    height: 50%;
                }
            }

            .cardDetailsExpanded {
                .description {
                    margin-top: 8rem;

                    .cardDescription {
                        h3 {
                            margin: 0.5rem auto;
                        }

                        .effect {
                            max-height: 6rem;
                            overflow-y: scroll;
                        }
                    }
                }
            }
        }
    }
}