.userInfo {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(30, 44, 70, 1);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;

    .user {
        display: flex;
        align-items: center;
        gap: 20px;

        label {
            cursor: pointer;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

    }
    button {
        width: 30%;
        padding: 5px;
        border: none;
        background-color: rgba(255, 88, 70, 0.8);
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            background-color: rgba(255, 88, 70, 1);
        }
    }
}